.centerButton {
    float: center;
  }
  
  .ChatBubble {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
  }
  
  #myCanvas {
    width: 100%;
    height: 95%;
    margin-top: 10px;
    border: 1px solid rgb(194, 194, 194);
  }
  
  #innerGameWindow {
    margin: 0px;
    height: 600px;
    max-height: 600px;
    overflow: hidden;
    border: 1px solid black;
  }
  
  #chatWindow {
    padding: 10px;
    margin: 0px;
    height: 100%;
  }
  
  #chatHistory {
    overflow-y: scroll;
    max-height: calc(100% - 50px);
    height: 100%;
  }
  
  #chatInput {
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 10px;
    width: 96%;
  }
  
  .smallText {
    font-size: 12px;
  }
  
  .hidden {
    visibility: hidden;
    display: none;
  }
  
  .lobbyTitle {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .userInfo {
    float: left;
    left: 30px;
    position: absolute;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
  }
  
  .bigText {
    font-weight: bold;
    font-size: 24px;
    margin-left: 30px;
  }
  